<img class="logo" src="./app/BlookModule/imgs/favicon.ico" alt="app logo">
<div class="main-logo">
    <a routerLink="/dashboard" class="clearfix">
        <span>B.Look Insight</span>
    </a>
</div>
<div class="blook-divider"></div>

<ul class="header-menu">
    <li class="menu user-menu">
        <img src="./app/BlookModule/imgs/favicon.ico" alt="user avatar">
        <span>User Name</span>
        <i class="blook-arrowdown"></i>

        <ul class="hidden-menu">
            <li>profile</li>
            <li>logout</li>
        </ul>
    </li>
    <li class="li-icon">
        <i class="blook-settings"></i>
    </li>
    <li class="li-icon">
        <i class="blook-keyboard_hide"></i>
        <ul class="hidden-menu">
            <li>English</li>
            <li>Arabic</li>
        </ul>
    </li>
    <li routerLink="/messages" class="li-icon">
        <i class="blook-message"></i>
    </li>
</ul>
