<ul class="root-sidebar">
    <li>
        <a routerLink="/">
            <i class="box blook-dashboard"></i>
            <span>Dashboard</span>
            <i class="blook-arrowright"></i>
        </a>
    </li>
    <li>
        <a routerLink="/geo">
            <i class="box blook-map"></i>
            <span>Geo Navigation</span>
            <i class="blook-arrowright"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="box blook-my_location"></i>
            <span>Locations</span>
            <i class="blook-arrowright"></i>
        </a>
        <ul>
            <li>
                <a href="#">
                    Regions
                    <i class="blook-arrowright"></i>
                </a>
                <ul>
                    <li><a routerLink="/regions">Show All</a></li>
                    <li><a routerLink="/regions/create">Add New</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    Places
                    <i class="blook-arrowright"></i>
                </a>
                <ul>
                    <li><a routerLink="/places">Show All</a></li>
                    <li><a routerLink="/places/create">Add New</a></li>
                    <li><a routerLink="/categories/place">Categories</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="/categories/incident">Incidents Categories</a>
            <li>
                <a routerLink="/categories/violation">Violations Categories</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="box blook-person_add"></i>
            <span>Terminals</span>
            <i class="blook-arrowright"></i>
        </a>
        <ul>
            <li><a routerLink="/terminal">Show All</a></li>
            <li><a routerLink="/terminal/create">Add New</a></li>
            <li><a routerLink="/categories/terminal">Groups</a></li>
        </ul>
    </li>
    <li>
        <a routerLink="/attendence">
            <i class="box blook-edit_location"></i>
            <span>Attendance</span>
            <i class="blook-arrowright"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="box blook-format_list_numbered"></i>
            <span>To-Do Lists</span>
            <i class="blook-arrowright"></i>
        </a>
        <ul>
            <li><a routerLink="/todolists">Show All</a></li>
            <li><a routerLink="/todolists/create">Add New</a></li>
        </ul>
    </li>

    <li>
        <a href="#">
            <i class="box blook-visibility_off"></i>
            <span>Privileges</span>
            <i class="blook-arrowright"></i>
        </a>
        <ul>
            <li><a routerLink="/positions">All Positions</a></li>
            <li><a routerLink="/positions/create">New Position</a></li>
        </ul>
    </li>
    <li>
        <a routerLink="/trash">
            <i class="box blook-trash"></i>
            <span>Trash</span>
            <i class="blook-arrowright"></i>
        </a>
    </li>
    <li>
        <a routerLink="/help">
            <i class="box blook-help"></i>
            <span>Help</span>
            <i class="blook-arrowright"></i>
        </a>
    </li>
</ul>
